* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 17px;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    max-width: 1170px;
}

/* Header */

header {
    height: 100vh;
    width: 100%;
    background-color: #000;
    margin-bottom: 65px;
    min-height:720px;
}

header .container {
    height: 100%;
}

.letterColor {
    color: #F89820;
}
header h1 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 70px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
}
header h2 {
     color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 200;
    line-height: 1.2;
    margin-bottom: 60px;
}
header a{
    border: 1px solid #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    width: 225px;
    margin: 0 auto;
    transition: background-color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-radius: 4px;
}

header a:hover{
    border: 1px solid #F89820;
    background-color: #F89820;
}

.introContainer {
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.introContent {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}


/* universal */
div {
    display: block;
}

.heading {
    display: flex;
    margin: 0 auto 50px;
    width: 100%;
}
.heading h2{
    padding: 10px;
    margin: 0 auto;
    font-size: 35px;
}


/* About Me Section */
.about {
    margin-bottom: 65px;
}
.aboutContent{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.portrait img {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
}

.aboutMe {
    padding-left: 35px;
    display: flex;
    align-items: center;
}

/* Portfolio Section */
#projects {
    margin-bottom: 65px;
}
.portfolioContent{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.myProject {
    display: flex;
    flex-direction: row;
    margin: 0 auto 60px auto;
}
.myProject img {
    height: 300px;
    width: 300px;
}

.projectImg {
    display: flex;
}
.projectInfo {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
}

.projectInfo p {
    margin-bottom: 25px;
}

.projectInfo h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
}

.projectLink a {
    padding: 6px 20px;
    border: 1px solid #F89820;
    font-size: 16px;
    text-transform: uppercase;
    color: #F89820;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 6px;
}

.projectLink a:hover {
    background-color: #F89820;
    color: #fff;

}

/* contact */
#contact .contactMe {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactMe a {
    border: 1px solid #F89820;
    padding: 8px 36px;
    font-size: 22px;
    color: #F89820;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-radius: 4px;
    text-transform: uppercase;
}
.contactMe h3 {
    letter-spacing: 1.7px;
    font-size: 22px;
    margin-bottom: 60px;
}

.contactMe a:hover {
    color: #fff;
    background-color: #F89820;
}
/* footer */
.back-to-top{
    background: none;
    margin: 0;
    position: fixed;
    display: none;
    bottom: 0px;
    right: 0px;
    height: 70px;
    width: 60px;
    z-index: 100;
    text-decoration: none;
    cursor: pointer;
}

.back-to-top i {
    font-size: 65px;
    color: #b2b2b2;
}
.back-to-top i:hover {
        transform-origin: 50% 50% 0px;
}
footer {
    width: 100%;
}
footer p {
    text-align: center;
    color: #b2b2b2;
    font-size: 13px;
    text-transform: uppercase;
}









