
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}
body{
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    color: #757575;
}

.container {
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    max-width: 1170px;
}

/* Header */

header {
    height: 100vh;
    width: 100%;
    background-color: #000;
    margin-bottom: 65px;
    min-height:720px;
}

header .container {
    height: 100%;
}

.letterColor {
    color: #F89820;
}
header h1 {
    color: #fff;
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
}
header h2 {
     color: #fff;
    font-size: 2.1rem;
    font-weight: 200;
    line-height: 1.2;
    margin-bottom: 60px;
}
#seeMore{
    border: 1px solid #fff;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    width: 225px;
    margin: 0 auto;
    transition: background-color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-radius: 4px;
}

#seeMore:hover{
    border: 1px solid #F89820;
    background-color: #F89820;
}

.introContainer {
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.introContent {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
/* universal */

a:hover, a:focus, a:active, a:visited, a:link{
    text-decoration: none;
}
div {
    display: block;
}
.heading {
    display: flex;
    margin: 0 auto 55px;
    width: 100%;
}
.heading h3{
    padding: 10px;
    margin: 0 auto;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #000;
}


/* About Me Section */
.aboutContent{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.aboutContent p {
    line-height: 1.9;
}
.portrait {
    height: 300px;
    min-width: 300px;
    display: flex;
    align-items: center;
}
.portrait img {
    height: 300px;
    width: 300px;
}

.aboutMe {
    padding-left: 35px;
    display: flex;
    align-items: center;
    width: 70%;
    font-size: 1rem;
}

/* Portfolio Section */
#projects {
    margin-bottom: 65px;
}
.portfolioContent{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.myProject {
    display: flex;
    flex-direction: row;
    margin: 0 auto 75px auto;
}
.myProject:last-child {
    margin-bottom: 0;
}
.myProject img {
    height: 300px;
    width: 300px;
}

.myProject .projectImg {
    display: flex;
    height: 300px;
    width: 300px;
}
.myProject:nth-child(1) .projectImg {
    background-image: url(weather4.png);
    background-repeat: no-repeat;
    background-position: center;
}
.projectInfo {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    width: 70%;
}

.projectInfo p {
    margin-bottom: 25px;
    font-size: 1rem;
}

.projectInfo h4 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    color: #000;
}

.projectLink a {
    padding: 6px 20px;
    border: 1px solid #F89820;
    font-size: 1rem;
    text-transform: uppercase;
    color: #F89820;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 6px;
    transition: .4s;
}

.projectLink a:hover {
    background-color: #F89820;
    color: #fff;

}

/* contact */
#contact .contactMe {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactMe h5 {
    letter-spacing: 1.7px;
    font-size: 22px;
    margin: 50px auto;
}
.contactMe p{
    border: 1px solid #F89820;
    padding: 8px 46px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #F89820;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}
.contactMe p:hover {
    color: #fff;
    background-color: #F89820;
}


/* footer */
footer {
    width: 100%;
}
footer p {
    text-align: center;
    color: #b2b2b2;
    font-size:.8rem;
    text-transform: uppercase;
}
.social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.social a {
    font-size: 2rem;
    margin: 0 10px;
    text-decoration: none;
    color: #b2b2b2;
    padding: 10px;
    transition: .5s;
}
.social a:visited {
    text-decoration: none;
    color: #b2b2b2;
}
.social a:active {
    text-decoration: none;
    color: #b2b2b2;
}
.social a:hover {
    cursor: pointer;
    color: #757575;
}

/* Back to Top arrow */
.back-to-top{
    background: none;
    margin: 0;
    position: fixed;
    display: none;
    bottom: 0px;
    right: 0px;
    height: 70px;
    width: 60px;
    z-index: 100;
    text-decoration: none;
    cursor: pointer;
}

.back-to-top i {
    font-size: 75px;
    color: #b2b2b2;
    opacity: .8;
}

.back-to-top i:hover{
    opacity: 1;
}


/* Responsive */

/* Medium devices (desktops, 992px and up) */
@media (max-width: 820px){
    html{
        font-size: 14px;
    }
    .container {
        padding: 10px;
    }


    header {

        min-height:260px;
    }
    header h1 {
        font-size: 3rem;
    }
    header h2{
        font-size: 1.3rem;
    }
    #seeMore{
        padding: 5px;
        font-size: 1rem;
        width: 150px;
    }




    .myProject{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        line-height: 1.9;
    }
    .projectInfo {
        padding: 0;
        margin: 0 auto;
    }
    .projectImg {
        margin: 0 auto 20px auto;
        width: 290px !important;
        height: 290px !important;
    }

    .projectImg img {
        width: 290px !important;
        height: 290px !important;
    }


    .portrait {
        margin: 0 auto 30px auto;
    }
    .aboutContent{
        flex-direction: column;
        text-align: center;
        margin: 0 auto 30px auto;
    }
    .aboutMe {
        padding: 0;
        margin: 0 auto;
    }

    hr{
        width: 80%;
        margin: 0 auto;
    }
    .contactMe p {
        margin-bottom: 30px;
    }
    footer {
        margin-bottom: 30px;
    }
    .social {
        margin-bottom: 10px;
    }

}
